.name{
    color: rgb(243, 243, 250);
    text-align: justify;
    padding-bottom: 3%;
    padding-top: 20px;
    font-size: 40px;
    margin-left: 10px;
}
.name h2{
    padding-top: 3%;
    font-size: 30px;
}
#column1{
    float: left;
    background-color: rgb(5, 5, 99);
    height: 100%;
    width: 390px;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
}
#column1 h3{
    color: rgb(243, 243, 250);
    background-color: rgb(2, 2, 54);
    min-height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size: 30px;
}
.personalinfo h6{
    color: rgb(243, 243, 250);
    margin-left: 10px;
    font-size: 20px;
}
.personalinfo h4{
    color: rgb(243, 243, 250);
    margin-left: 10px;
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
}
a{
    color: rgb(243, 243, 250);
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}
.skills h6{
    color: rgb(243, 243, 250);
    font-size: 20px;
    padding-bottom: 2%;
    margin-left: 10px;
    
}
.software h6{
    color: rgb(243, 243, 250);
    font-size: 20px;
    padding-bottom: 4%;
    margin-left: 10px;
}
.microsoft{
    width: 90%;
    background-color:  rgb(8, 8, 22);
    margin-left: 10px;
}
.project{
    width: 80%;
    background-color: rgb(243, 243, 250);
    padding: 10px 10px;
}
.excellant{
    margin-left: 280px;
    padding-top: 1%;
    padding-bottom: 2%;
}
.window{
    width: 90%;
    background-color: rgb(8, 8, 22);
    margin-left: 10px;
}
.server{
    width: 70%;
    background-color: rgb(243, 243, 250);
    padding: 10px 10px;
}
.verygood{
    margin-left: 270px;
    padding-top: 1%;
    padding-bottom: 2%;
}
.linux{
    width: 90%;
    background-color:  rgb(8, 8, 22);
    margin-left: 10px;
}
.unix{
    width: 65%;
    background-color: rgb(243, 243, 250);
    padding: 10px 10px;
}
.vgood{
    margin-left: 270px;
    padding-top: 1%;
    padding-bottom: 2%;
}
.microsoft{
    width: 90%;
    background-color:  rgb(8, 8, 22);
    margin-left: 10px;
}
.excel{
    width: 50%;
    background-color: rgb(243, 243, 250);
    padding: 10px 10px;
}
.good{
    margin-left: 310px;
    padding-top: 1%;
    padding-bottom: 2%;
}
.language h6{
    color: rgb(243, 243, 250);
    font-size: 20px;
    padding-bottom: 2%;
    margin-left: 10px;
}
.tamil{
    width: 90%;
    background-color:  rgb(8, 8, 22);
    margin-left: 10px;
}
.inter{
    width: 85%;
    background-color: rgb(243, 243, 250);
    padding: 10px 10px;
}
.english{
    width: 90%;
    background-color: rgb(8, 8, 22);
    margin-left: 10px;
}
.basic{
    width: 60%;
    background-color: rgb(243, 243, 250);
    padding: 10px 10px;
}
.language p{
    color: rgb(243, 243, 250);
    font-size: 20px;
    margin-left: 270px;

}
#column2{
    float: right;
    margin: 0px 0px 0px 410px;
}
.senior{
    font-size: 30px;
    color: rgb(16, 46, 146);
}
.master{
    font-size: 30px;
    color: rgb(16, 46, 146);
}
.case{
    font-size: 30px;
    color: rgb(16, 46, 146);
}
.deve{
    font-size: 30px;
    color: rgb(16, 46, 146);
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.para{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}
.experience h4{
    color: black;
    font-size: 30px;
    margin-left: 120px;
    margin-bottom: ;
}
.experience h5{
    margin-bottom: -28px;
    margin-left: 120px;
    margin-top: 15px;
}
ul{
    margin-left: 140px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;
}
.edu1 h4{
    color: black;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 0px 0px;
    margin-bottom: -15px;
}
.certificate h6{
    margin-left: 120px;
    margin-top: -20px;
    line-height: 2;
}
.intersts h6{
    margin-left: 120px;
    font-size: 20px;
    line-height: 2;
}


